.alignCenter{
	display: flex;
	align-items: center;
}
.pointer{
	cursor: pointer;
}
.center{
	text-align: center;
}
.userInfoMsg {
	display: inline-block;
	float: right;
	padding-right: 20px;
	display: flex;
	align-items: center;
}

.userInfoSound {
	font-size: 20px;
	color: #1890FF;
}

.userInfoLogo {
	background-color: #87d068;
	margin: 0 10px 0 20px;
}

.userInfoName {
	font-size: 20px;
}
